* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.colorRose {
  color: #EF9BD1;
}

/***** General layout *****/
#layoutWrapper {
  display: grid;
  grid-template-areas: 
    "header"
    "calendar";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
}