{{define "headline"}}Calendar{{end}}

{{define "websiteContent"}}
    <!-- Calendar -->
    <div id="calendarWrapper">
        <header>
            <h1 class="colorRose">Calendar</h1>

            <div id="calendarSwitchTime">
                <h5 class="yearMobile">2019</h5>
                <div class="calendarSwitchTimeMonth">
                    <a class="switchMonth" href="{{.PrevLink}}">
                        <img class="yearDesktop" src="/assets/switchMonthIcon.png" />
                    </a>
                    <h3 class="colorRose">{{.Month}}</h3>
                    <a class="switchMonth" href="{{.NextLink}}">
                        <img class="yearDesktop" src="/assets/switchMonthIcon.png" />
                    </a>
                </div>
                <h5 class="yearDesktop">{{.KWWeek}}</h5>
            </div>

            <div id="calendarSwitchView">
                <a href="/calendar_week" class="colorRose active">Week</a>
                <a href="calendar_month.html" class="colorRose">Month</a>
            </div>

        </header>
        <div id="calendar">
            <!-- Calendar header -->
            <div id="calendarHeader">
                <div>
                    <span class="calendarHeader">Monday</span>
                </div>
                <div>
                    <span class="calendarHeader">Tuesday</span>
                </div>
                <div>
                    <span class="calendarHeader">Wednesday</span>
                </div>
                <div>
                    <span class="calendarHeader">Thursday</span>
                </div>
                <div>
                    <span class="calendarHeader">Friday</span>
                </div>
                <div>
                    <span class="calendarHeader">Saturday</span>
                </div>
                <div>
                    <span class="calendarHeader">Sunday</span>
                </div>
            </div>

            <!-- Calendar grid -->
            <div id="calendarGrid">
            {{range .Days}}
                {{if .IsActive}}
                    <div class="calendarGridItem active">
                {{else}}
                    <div class="calendarGridItem ">
                {{end}}
                    <span class="calendarItemDate">{{.DateDay}}</span>
                    <div class="calendarTimeSlotWeek" style="background-color: #E0FFF2;">
                        <span>Parvenuee</span>
                        <span>Lenita Behncke</span>
                        <span>Jan-Cedric Anslinger</span>
                    </div>
                    <div class="calendarTimeSlotWeek" style="background-color: #FFEDFF">
                        <span>Parvenuee</span>
                        <span>Lenita Behncke</span>
                        <span>Jan-Cedric Anslinger</span>
                    </div>
                    <div class="calendarTimeSlotWeek" style="background-color: #E5F5FC;">
                        <span>Parvenuee</span>
                        <span>Lenita Behncke</span>
                        <span>Jan-Cedric Anslinger</span>
                    </div>
                </div>
            {{end}}
            </div>

        </div>
    </div>
{{end}}